## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

NOTE: The target variable is the "IS_SUCCESSFUL" column, while the feature variables are every other column in the dataframe except "EIN" and "NAME"

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [app_type for app_type in application_counts.index if application_counts[app_type] < 200]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1820        1
C8210        1
C5200        1
C1370        1
C2561        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_1 = classification_counts.loc[classification_counts > 1]
classification_counts_greater_than_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1256        2
C1246        2
C1267        2
C3200        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [classification for classification in classification_counts.index if classification_counts[classification] < 1000]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
processed_df = pd.get_dummies(application_df, prefix=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
processed_df.shape

(34299, 44)

In [10]:
# Split our preprocessed data into our features and target arrays
X = processed_df.drop(columns="IS_SUCCESSFUL") 
y = processed_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 678us/step - loss: 0.5725 - accuracy: 0.7213
Epoch 2/100
804/804 [==============================] - 1s 682us/step - loss: 0.5567 - accuracy: 0.7299
Epoch 3/100
804/804 [==============================] - 1s 668us/step - loss: 0.5529 - accuracy: 0.7295
Epoch 4/100
804/804 [==============================] - 1s 689us/step - loss: 0.5511 - accuracy: 0.7303
Epoch 5/100
804/804 [==============================] - 1s 696us/step - loss: 0.5503 - accuracy: 0.7301
Epoch 6/100
804/804 [==============================] - 1s 669us/step - loss: 0.5490 - accuracy: 0.7316
Epoch 7/100
804/804 [==============================] - 1s 672us/step - loss: 0.5477 - accuracy: 0.7337
Epoch 8/100
804/804 [==============================] - 1s 659us/step - loss: 0.5475 - accuracy: 0.7330
Epoch 9/100
804/804 [==============================] - 1s 659us/step - loss: 0.5472 - accuracy: 0.7326
Epoch 10/100
804/804 [==============================] - 1s 681us/step - loss: 0.5462 - accuracy: 0.7335
Epoch 11/100
804/804 [==============================] - 1s 650us/step - loss: 0.5461 - accuracy: 0.7337
Epoch 12/100
804/804 [==============================] - 1s 650us/step - loss: 0.5454 - accuracy: 0.7345
Epoch 13/100
804/804 [==============================] - 1s 652us/step - loss: 0.5451 - accuracy: 0.7343
Epoch 14/100
804/804 [==============================] - 1s 656us/step - loss: 0.5447 - accuracy: 0.7352
Epoch 15/100
804/804 [==============================] - 1s 654us/step - loss: 0.5442 - accuracy: 0.7336
Epoch 16/100
804/804 [==============================] - 1s 670us/step - loss: 0.5442 - accuracy: 0.7352
Epoch 17/100
804/804 [==============================] - 1s 661us/step - loss: 0.5442 - accuracy: 0.7352
Epoch 18/100
804/804 [==============================] - 1s 670us/step - loss: 0.5438 - accuracy: 0.7346
Epoch 19/100
804/804 [==============================] - 1s 651us/step - loss: 0.5431 - accuracy: 0.7355
Epoch 20/100
804/804 [==============================] - 1s 665us/step - loss: 0.5429 - accuracy: 0.7361
Epoch 21/100
804/804 [==============================] - 1s 674us/step - loss: 0.5430 - accuracy: 0.7347
Epoch 22/100
804/804 [==============================] - 1s 674us/step - loss: 0.5428 - accuracy: 0.7353
Epoch 23/100
804/804 [==============================] - 1s 657us/step - loss: 0.5423 - accuracy: 0.7371
Epoch 24/100
804/804 [==============================] - 1s 660us/step - loss: 0.5415 - accuracy: 0.7360
Epoch 25/100
804/804 [==============================] - 1s 649us/step - loss: 0.5419 - accuracy: 0.7358
Epoch 26/100
804/804 [==============================] - 1s 676us/step - loss: 0.5414 - accuracy: 0.7365
Epoch 27/100
804/804 [==============================] - 1s 654us/step - loss: 0.5414 - accuracy: 0.7364
Epoch 28/100
804/804 [==============================] - 1s 659us/step - loss: 0.5408 - accuracy: 0.7362
Epoch 29/100
804/804 [==============================] - 1s 650us/step - loss: 0.5406 - accuracy: 0.7359
Epoch 30/100
804/804 [==============================] - 1s 669us/step - loss: 0.5410 - accuracy: 0.7360
Epoch 31/100
804/804 [==============================] - 1s 659us/step - loss: 0.5410 - accuracy: 0.7361
Epoch 32/100
804/804 [==============================] - 1s 682us/step - loss: 0.5406 - accuracy: 0.7361
Epoch 33/100
804/804 [==============================] - 1s 649us/step - loss: 0.5409 - accuracy: 0.7371
Epoch 34/100
804/804 [==============================] - 1s 649us/step - loss: 0.5403 - accuracy: 0.7366
Epoch 35/100
804/804 [==============================] - 1s 665us/step - loss: 0.5404 - accuracy: 0.7372
Epoch 36/100
804/804 [==============================] - 1s 661us/step - loss: 0.5403 - accuracy: 0.7369
Epoch 37/100
804/804 [==============================] - 1s 643us/step - loss: 0.5398 - accuracy: 0.7373
Epoch 38/100
804/804 [==============================] - 1s 648us/step - loss: 0.5400 - accuracy: 0.7370
Epoch 39/100
804/804 [==============================] - 1s 643us/step - loss: 0.5402 - accuracy: 0.7381
Epoch 40/100
804/804 [==============================] - 1s 663us/step - loss: 0.5395 - accuracy: 0.7392
Epoch 41/100
804/804 [==============================] - 1s 655us/step - loss: 0.5392 - accuracy: 0.7369
Epoch 42/100
804/804 [==============================] - 1s 653us/step - loss: 0.5396 - accuracy: 0.7373
Epoch 43/100
804/804 [==============================] - 1s 663us/step - loss: 0.5395 - accuracy: 0.7367
Epoch 44/100
804/804 [==============================] - 1s 659us/step - loss: 0.5391 - accuracy: 0.7383
Epoch 45/100
804/804 [==============================] - 1s 680us/step - loss: 0.5390 - accuracy: 0.7378
Epoch 46/100
804/804 [==============================] - 1s 650us/step - loss: 0.5387 - accuracy: 0.7382
Epoch 47/100
804/804 [==============================] - 1s 658us/step - loss: 0.5390 - accuracy: 0.7371
Epoch 48/100
804/804 [==============================] - 1s 650us/step - loss: 0.5390 - accuracy: 0.7382
Epoch 49/100
804/804 [==============================] - 1s 656us/step - loss: 0.5387 - accuracy: 0.7383
Epoch 50/100
804/804 [==============================] - 1s 670us/step - loss: 0.5382 - accuracy: 0.7379
Epoch 51/100
804/804 [==============================] - 1s 641us/step - loss: 0.5383 - accuracy: 0.7381
Epoch 52/100
804/804 [==============================] - 1s 648us/step - loss: 0.5383 - accuracy: 0.7383
Epoch 53/100
804/804 [==============================] - 1s 659us/step - loss: 0.5385 - accuracy: 0.7386
Epoch 54/100
804/804 [==============================] - 1s 654us/step - loss: 0.5383 - accuracy: 0.7388
Epoch 55/100
804/804 [==============================] - 1s 671us/step - loss: 0.5381 - accuracy: 0.7387
Epoch 56/100
804/804 [==============================] - 1s 651us/step - loss: 0.5382 - accuracy: 0.7382
Epoch 57/100
804/804 [==============================] - 1s 646us/step - loss: 0.5378 - accuracy: 0.7375
Epoch 58/100
804/804 [==============================] - 1s 658us/step - loss: 0.5372 - accuracy: 0.7389
Epoch 59/100
804/804 [==============================] - 1s 648us/step - loss: 0.5378 - accuracy: 0.7382
Epoch 60/100
804/804 [==============================] - 1s 666us/step - loss: 0.5376 - accuracy: 0.7375
Epoch 61/100
804/804 [==============================] - 1s 656us/step - loss: 0.5378 - accuracy: 0.7383
Epoch 62/100
804/804 [==============================] - 1s 653us/step - loss: 0.5376 - accuracy: 0.7396
Epoch 63/100
804/804 [==============================] - 1s 656us/step - loss: 0.5374 - accuracy: 0.7383
Epoch 64/100
804/804 [==============================] - 1s 653us/step - loss: 0.5371 - accuracy: 0.7395
Epoch 65/100
804/804 [==============================] - 1s 676us/step - loss: 0.5375 - accuracy: 0.7390
Epoch 66/100
804/804 [==============================] - 1s 658us/step - loss: 0.5371 - accuracy: 0.7389
Epoch 67/100
804/804 [==============================] - 1s 663us/step - loss: 0.5374 - accuracy: 0.7384
Epoch 68/100
804/804 [==============================] - 1s 664us/step - loss: 0.5370 - accuracy: 0.7384
Epoch 69/100
804/804 [==============================] - 1s 677us/step - loss: 0.5366 - accuracy: 0.7396
Epoch 70/100
804/804 [==============================] - 1s 677us/step - loss: 0.5368 - accuracy: 0.7389
Epoch 71/100
804/804 [==============================] - 1s 680us/step - loss: 0.5375 - accuracy: 0.7390
Epoch 72/100
804/804 [==============================] - 1s 675us/step - loss: 0.5372 - accuracy: 0.7381
Epoch 73/100
804/804 [==============================] - 1s 695us/step - loss: 0.5370 - accuracy: 0.7388
Epoch 74/100
804/804 [==============================] - 1s 666us/step - loss: 0.5367 - accuracy: 0.7397
Epoch 75/100
804/804 [==============================] - 1s 654us/step - loss: 0.5366 - accuracy: 0.7383
Epoch 76/100
804/804 [==============================] - 1s 700us/step - loss: 0.5363 - accuracy: 0.7391
Epoch 77/100
804/804 [==============================] - 1s 695us/step - loss: 0.5365 - accuracy: 0.7397
Epoch 78/100
804/804 [==============================] - 1s 697us/step - loss: 0.5363 - accuracy: 0.7396
Epoch 79/100
804/804 [==============================] - 1s 706us/step - loss: 0.5366 - accuracy: 0.7397
Epoch 80/100
804/804 [==============================] - 1s 704us/step - loss: 0.5366 - accuracy: 0.7392
Epoch 81/100
804/804 [==============================] - 1s 686us/step - loss: 0.5363 - accuracy: 0.7392
Epoch 82/100
804/804 [==============================] - 1s 660us/step - loss: 0.5363 - accuracy: 0.7391
Epoch 83/100
804/804 [==============================] - 1s 651us/step - loss: 0.5362 - accuracy: 0.7386
Epoch 84/100
804/804 [==============================] - 1s 685us/step - loss: 0.5362 - accuracy: 0.7393
Epoch 85/100
804/804 [==============================] - 1s 755us/step - loss: 0.5362 - accuracy: 0.7393
Epoch 86/100
804/804 [==============================] - 1s 698us/step - loss: 0.5362 - accuracy: 0.7392
Epoch 87/100
804/804 [==============================] - 1s 648us/step - loss: 0.5358 - accuracy: 0.7396
Epoch 88/100
804/804 [==============================] - 1s 682us/step - loss: 0.5359 - accuracy: 0.7388
Epoch 89/100
804/804 [==============================] - 1s 999us/step - loss: 0.5359 - accuracy: 0.7395
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7389
Epoch 91/100
804/804 [==============================] - 1s 909us/step - loss: 0.5358 - accuracy: 0.7396
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7390
Epoch 93/100
804/804 [==============================] - 1s 978us/step - loss: 0.5355 - accuracy: 0.7391
Epoch 94/100
804/804 [==============================] - 1s 983us/step - loss: 0.5355 - accuracy: 0.7394
Epoch 95/100
804/804 [==============================] - 1s 793us/step - loss: 0.5358 - accuracy: 0.7397
Epoch 96/100
804/804 [==============================] - 1s 700us/step - loss: 0.5356 - accuracy: 0.7395
Epoch 97/100
804/804 [==============================] - 1s 938us/step - loss: 0.5357 - accuracy: 0.7396
Epoch 98/100
804/804 [==============================] - 1s 845us/step - loss: 0.5354 - accuracy: 0.7404
Epoch 99/100
804/804 [==============================] - 1s 758us/step - loss: 0.5354 - accuracy: 0.7392
Epoch 100/100
804/804 [==============================] - 1s 769us/step - loss: 0.5354 - accuracy: 0.7386

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5587 - accuracy: 0.7287 - 216ms/epoch - 805us/step
Loss: 0.5586903095245361, Accuracy: 0.7287463545799255

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")